/*! project specific CSS goes here. */
body {
    font-family: 'Raleway', sans-serif;
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}
h1, h2 {
    margin-bottom: 1rem;
}
div.container {
    width: 960px;
}
ul.diarylist>li>a {
    font-weight: bold;
}
ul.diarylist li a {
    color: inherit;
}
ul.tasklist {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #aaa;
}
ul.tasklist>li>a {
    color: inherit;
}

/* Over rides to bs_grid and jui_filter_rules */
dt.rules_group_header {
    display: none;
}
.rules_list {
    border-left: none !important;
    padding: 0;
}

td.task-locations > ul.list-unstyled {
    margin: 0;
}
