/*! project specific CSS goes here. */
body {
    font-family: 'Raleway', sans-serif;
    padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
}
h1, h2 {
    margin-bottom: 1rem;
}
textarea {
    height: 5rem;
}
ul.diary-list > li > a {
    font-weight: bold;
}
ul.diary-list > li {
    padding-bottom: 1em;
    border-bottom: 1px solid #aaa;
}
ul.diary-list li a {
    color: inherit;
}
ul.task-list {
}
ul.task-list li a {
    color: inherit;
}
div.container {
    width: 960px;
}
a.action > i.fa {
    color:#ac0000;
    font-size:1.5rem;
    text-shadow:1px 1px 3px rgba(0,0,0,0.5);
    padding: 0 5px;
}
a.page-link > i.fas {
    color:darker;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
