{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'caretaking' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item active">
          <a href="{% url 'staff' staff.user.username %}">{{ staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          diary
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Diary: {{ staff }}</h2>
    <!-- info box -->
    <div class="alert alert-info" role="alert">
        <p>
        Showing <strong>{{ days }}</strong> days between 
        <strong>{{ start_date|date:"j N Y" }}</strong> and 
        <strong>{{ end_date|date:"j N Y" }}</strong>.
        <br>
        Use the form below to change
        the date range.
        </p>

        {% include 'snippet_form.html' %}

        <p> <strong>{{ days_worked }} days</strong> (<strong>{{ total_hours }} hours</strong>) worked
        and <strong>{{ total_tasks }} tasks</strong> completed.
        </p>
    </div>

    {% include 'snippet_pagination.html' %}

    <!-- list of days -->
    <ul class="diarylist list-unstyled">
        {% for day in diary %}
        <li{% if day.hours == -1 %} class="sr-only"{% endif %}>
            {{ day.total_hours }}
                <a href="{{ day.get_absolute_url }}">{{ day.day|date:"D j N Y" }}</a> 
                <span>({{ day.hours }} hrs)</span>
                <p><em>{{ day.comment }}</em></p>
                <div class="tasklist">
                    <ul class="tasklist">
                    {% for task in day.tasks %}
                        <li>
                            <a href="{{ task.get_absolute_url }}">{{ task.description }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include 'snippet_pagination.html' %}

    {% block extra_js %}
    {% include 'snippet_search_js.html' %}
    {% endblock extra_js %}
{% endblock %}
