{% extends "base.html" %}

{% block title %}Diary List ({{ staff.user.username }}){% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item active">
          <a href="{% url 'staff-detail' staff.user.username %}">{{ staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          diary
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.staff == staff or user.is_staff %}
      <div class="float-right">
          <a href="{% url 'diary-add' staff.user.username %}" class="action">
          <i class="fa fa-plus-circle"></i>
          <span class="sr-only">Add day to dairy<span>
          </a>
      </div>
  {% endif %}
    <h2>Diary: {{ staff }}</h2>
    <!-- info box -->
    <div class="alert alert-info" role="alert">
        <p>
        Showing <strong>{{ days }}</strong> days between 
        <strong>{{ start_date|date:"j N Y" }}</strong> and 
        <strong>{{ end_date|date:"j N Y" }}</strong>.
        </p>
        <p>
        Select a date range.
        </p>

  <form action="." method="get">
    <!--
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input class="form-control" type="date" required name="start-date"
              value="{{ start_date|date:"Y-m-d"}}" id="start-date"
              min="" max="{{ today|date:"Y-m-d" }}">
          <input class="form-control" type="date" required name="end-date"
              value="{{ end_date|date:"Y-m-d"}}" id="end-date"
              min="" max="{{ today|date:"Y-m-d" }}">
          <input class="form-control" type="text" placeholder="Search"
              onclick="$('#clear-button').removeClass('d-none');"
              id="search-term" name="q" value="{{ search_phrase }}">
          <div class="input-group-append">
            <button class="btn btn-outline{% if not search_phrase %} d-none{% endif %}"
                type="button" id="clear-button"
                onclick="$('#search-term').val('');"
                >Clear</button>
            <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
              Go</button>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="input-group">
      <input class="form-control col-sm-3 my-1" type="date" required name="start-date"
          value="{{ start_date|date:"Y-m-d"}}" id="start-date"
          min="" max="{{ today|date:"Y-m-d" }}">
      <input class="form-control col-sm-3 my-1" type="date" required name="end-date"
          value="{{ end_date|date:"Y-m-d"}}" id="end-date"
          min="" max="{{ today|date:"Y-m-d" }}">
      <input class="form-control col-sm-6 my-1" type="text" placeholder="Search"
          onclick="$('#clear-button').removeClass('d-none');"
          id="search-term" name="q" value="{{ search_phrase }}">
      <div class="input-group-append">
        <button class="btn btn-outline{% if not search_phrase %} d-none{% endif %}"
            type="button" id="clear-button"
            onclick="$('#search-term').val('');"
            >Clear</button>
        <button class="btn btn-secondary" type="submit">
        <i class="fa fa-search"></i>
          Go</button>
      </div>
    </div>

    {% if search_count %}
        <p class="mt-2">
            <strong>{{ search_count }}</strong> task{{ search_count|pluralize }} found matching search 
        phrase <strong>{{ search_phrase }}</strong>.
        </p>
    {% endif %}
        
  </form>

        <p class="mb-0 mt-3"><strong>{{ days_worked }} days</strong> (<strong>{{ total_hours }} hours</strong>) worked
        and <strong>{{ total_tasks }} tasks</strong> completed.
        </p>
    </div>
    <!-- end info box -->

    <img width="100%" src="{{ wordcloud }}" class="mb-3 mt-2">

    {% include 'snippet_pagination.html' %}

    <!-- list of days -->
    <ul class="diary-list list-unstyled">
      {% for day in diary %}
      <li{% if day.hours == -1 %} class="sr-only"{% endif %}>

      {% if user.is_authenticated and user.staff == staff or user.is_staff %}
        <a href="{{ day.get_edit_url }}"
            class="action small mt-2">
        <i class="fa fa-pencil-alt"></i>
        <span class="sr-only">Edit diary entry<span>
        </a>
      {% endif %}

      <a class="day-title" href="{{ day.get_absolute_url }}">{{ day.day|date:"D j N Y" }}</a> 
      <span>({{ day.hours }} hrs)</span>
      {% if day.comment %}
        <p class="lead">{{ day.comment }}</p>
      {% endif %}
      {% if day.tasks.count %}
        <div class="task-list">
            <table class="task-list table table-sm table-hover table-striped">
            {% for task in day.tasks %}
              <tr>
                <td class="description" width="70%">
                    {{ task.description }}
                </td>
                <td class="text-muted small task-tasktype" width="20%">
                  {% for type in task.tasktype.all %}
                    {{ type }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td class="text-muted small task-locations">
                  {% for loc in task.locations %}
                  {{ loc }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td class="task-photos">
                  {% for photo in  task.get_photos %}
                    <a href="{{ photo.get_detail_url }}">
                      <img src="{{ photo.get_image_url }}" width="50">
                    </a>
                  {% endfor %}
                </td>
                <td class="task-project">
                  {% if task.project_set.count %}
                    <a href="{{ task.project_set.first.get_absolute_url }}"
                        class="action small mt-2">
                    <i class="fa fa-cogs"></i>
                    <span class="sr-only">View project<span>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    {% include 'snippet_pagination.html' %}

    {% block extra_js %}
    {% if search_count %}
    <script>
        $(document).ready(function() {
            var search_terms = "{{ search_words }}".split(' ');
            console.log(search_terms);
            search_terms.forEach(function(search_term) {
              $('table.task-list > tr > td.decription').each(function() {
                    t = $(this).html();
                    console.log(t + 'term: ' + search_term);
                    if (t.indexOf(search_term) > -1) {
                        res = t.replace(search_term, 
                                '<strong class="bg-warning">' + search_term + '</strong>');
                        $(this).html(res);
                    }
                });
            });
        });
    </script>
    {% endif %}
    {% endblock extra_js %}
{% endblock %}
