{% extends "diary_add_form.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'caretaking' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-detail' staff.user.username %}">{{ staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'diary-list' staff.user.username %}">diary</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{{ object.get_absolute_url }}">{{ object.day|date:"D j N Y" }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          edit
      </li>
  </ol>
</nav>
{% endblock %}

{% block actions %}
    <div class="float-right">
        <a href="{{ object.get_absolute_url }}" class="action">
        <i class="fa fa-reply"></i>
        <span class="sr-only">Back to diary entry<span>
        </a>
    </div>
{% endblock %}

{% block list_title %}Edit Diary Entry: {{ object.day|date:"D j N Y" }}{% endblock %}

{% block tasks %}
    <hr>
    <div class="task-list">
        <div class="float-right">
            <a href="{% url 'task-add' staff.user.username %}" class="action small">
            <i class="fa fa-plus-circle"></i>
            <span class="sr-only">Add task to dairy entry<span>
            </a>
        </div>
        <h4>Edit task descriptions:</h4>
        <ul class="task-list">
        {% for task in object.tasks %}
        <li>
        <span contenteditable="true" 
            data-pk="{{ task.pk }}"
            data-url="{% url 'task-edit' staff.user.username task.pk %}"
            data-staff="{{ task.staff.first.pk }}"
            data-completed="{{ task.completed|date:'Y-m-d' }}"
            data-urgency="{{ task.urgency }}"
            >
            {{ task.description }}
            </span>
          </li>
        {% endfor %}
        </ul>
        <div id="debug"></div>
    </div>
{% endblock %}

{% block extra_button %}
    <button class="btn btn-secondary" type="cancel">
        <i class="fa fa-reply"></i> Cancel
    </button>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('keydown', function (event) {
  var esc = event.which == 27,
      nl = event.which == 13,
      el = event.target,
      input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
      data = {};

  if (input) {
    if (esc) {
      // restore state
      document.execCommand('undo');
      el.blur();
    } else if (nl) {
      data['pk'] = el.getAttribute('data-pk');
      data['description'] = $.trim(el.innerHTML);
      data['staff'] = el.getAttribute('data-staff');
      data['urgency'] = el.getAttribute('data-urgency');
      data['completed'] = el.getAttribute('data-completed');
      url = el.getAttribute('data-url');
      data['csrfmiddlewaretoken'] = $( "input[name='csrfmiddlewaretoken']" ).val();

      // send an ajax request to update the field
      $.ajax({
        url: url,
        data: data,
        type: 'post',
        success: function(data) {
          changed_el = $("span[data-pk='" + data['pk'] + "']").first();
          changed_el.append('<i class="fa fa-check ml-3 text-success"></i>');
        },
        error: function(e) {
	      log(e);
        }
      });

      el.blur();
      event.preventDefault();
    }
  }
}, true);

function log(s) {
  document.getElementById('debug').innerHTML = s;
}
</script>
{% endblock extra_js %}
