{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-detail' object.staff.user.username %}">{{ object.staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'diary-list' object.staff.user.username %}">diary</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ object.get_absolute_url }}">
          {{ diary.day|date:"D j N Y" }}
          </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          {{ object.day|date:"D j N Y" }}
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Delete {{ object }}</h2>

    <p>
    Are you sure you wish to permanently delete the diary entry <strong>{{ object }}?
    </p>
    <form action="" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block"
                value="confirm">
                <i class="fa fa-trash-alt"></i>
                Delete task
                </button>
</form>
{% endblock %}


