{% extends "base.html" %}

{% block extra_css %}
    <link href="https://openlayers.org/en/v4.1.0/css/ol.css" rel="stylesheet">
    <style type="text/css">
        #diary_map {
            width: 600px;
            height: 400px;
            border: 1px solid #bbb;    
            border-radius: 1px;
            margin: 1em 0 1em 0;    
        }
        #diary_map .aligned label { float: inherit; }
        #diary_span_map { position: relative; vertical-align: top; float: left; }
        a.no-underline:hover { text-decoration: none; }
        ul.pager { 
            width: 600px;
                margin-quo;bottom: 0px;
        }
    </style>
{% endblock extra_css %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-detail' staff.user.username %}">{{ staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'diary-list' staff.user.username %}">diary</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          {{ diary.day|date:"D j N Y" }}
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
      {% ifequal user staff.user %}
        <div class="float-right">
            <a href="{{ diary.get_edit_url}}" class="action">
            <i class="fa fa-pencil-alt"></i>
            <span class="sr-only">Edit diary entry<span>
            </a>
            <a href="{{ diary.get_confirm_delete_url}}" class="action">
            <i class="fa fa-trash-alt"></i>
            <span class="sr-only">Delete diary entry<span>
            </a>
        </div>
    {% endifequal %}
  {% endif %}

    <h2>{% block list_title %}{{ diary.day|date:"D j N Y" }}: 
        {{ staff.user.first_name }} {{ staff.user.last_name }} ({{ staff.title }})
    {% endblock %}
    </h2>

<p class="comment"><strong>{{ diary.hours }}&nbsp;hrs:</strong>&nbsp;<em>{{ diary.comment }}</em></p>

<ul class="pagination">
{% if previous %}
    <li class="page-item">
        <a href="{{ previous.get_absolute_url }}" class="page-link">
        <i class="fas fa-caret-square-left mr-2"></i>
            {{ previous.day|date:"D j N Y" }}</a>
    </li>
{% endif %}
    <li class="page-item disabled">
        <a href="#" class="page-link">{{ diary.day|date:"D j N Y" }}</a>
    </li>
{% if next %}
    <li class="page-item">
        <a href="{{ next.get_absolute_url }}" class="page-link">
            {{ next.day|date:"D j N Y" }}
            <i class="fas fa-caret-square-right ml-2"></i>
        </a>
    </li>
{% endif %}
</ul>


<div class="task-list">
    <ul class="task-list">
    {% for task in diary.tasks %}
        <li>
            <a href="{{ task.get_absolute_url }}">{{ task.description }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

<span id="diary_span_map">
    <div id="diary_map"></div>
    <script type="text/javascript">

    window.onload = function() {
      var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

      var white = [255, 255, 255, 1];
      var blue = [0, 153, 255, 1];
      var red = [255, 0, 153, 1];
      var width = 3;

      // generate background college view
      var college_wkt = '{{ college_wkt }}';
      var college_format = new ol.format.WKT();
      var college_feature = college_format.readFeature(college_wkt);
      var college_style = new ol.style.Style({
        fill: new ol.style.Fill({
          color: white
        }),
        stroke: new ol.style.Stroke({
          color: blue,
          width: width/3
        })
      });
      var college_vector = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [college_feature],
        }),
        style: college_style
      });
      // end generate background college view

      {% if diary_wkt %}
          // generate view of this object
          var wkt = '{{ diary_wkt }}';
          var format = new ol.format.WKT();
          var feature = format.readFeature(wkt);

          var object_style = new ol.style.Style({
                image: new ol.style.Circle({
                  radius: width * 2,
                  fill: new ol.style.Fill({
                    color: white
                  }),
                  stroke: new ol.style.Stroke({
                    color: red,
                    width: width/2
                  })
                })
          })

          var object_vector = new ol.layer.Vector({
            source: new ol.source.Vector({
              features: [feature],
            }),
            style: object_style
          });
          // end generate view of this object

          // build map
          var map = new ol.Map({
            layers: [raster, college_vector, object_vector],
            target: 'diary_map',
            interactions: ol.interaction.defaults({mouseWheelZoom:false}),
            view: new ol.View({
                center: ol.proj.fromLonLat([172.292576,-43.757829]),
                zoom: 18
            })
          });

          var features = new ol.Collection();
          features.extend([feature]);
          var featureOverlay = new ol.layer.Vector({
            source: new ol.source.Vector({features: features}),
            style: object_style,
          });
          featureOverlay.setMap(map);

      {% else %}

          var map = new ol.Map({
            layers: [raster, college_vector],
            target: 'diary_map',
            interactions: ol.interaction.defaults({mouseWheelZoom:false}),
            view: new ol.View({
                center: ol.proj.fromLonLat([172.292576,-43.757829]),
                zoom: 18
            })
          });

      {% endif %}
    }; // end onload
    </script>
{% endblock %}

{% block extra_js %}
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
{% endblock extra_js %}
