{% extends "base.html" %}

{% block title %}Photo Add{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'photo-list' %}">photos</a>
      </li>
      {% block action_type %}
        <li class="breadcrumb-item active" aria-current="page">
            add
        </li>
      {% endblock %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<h2>{% block list_title %}Add Photo to {{ object }}{% endblock %}</h2>

  <form action="" method="post"  enctype="multipart/form-data"
    novalidate id="photo_add_form" name="photo_add_form">
    {% include 'snippet_form_start.html' %}
    {% with field=form.title %}
      <div class="form-group">
        {% include 'snippet_form_field.html' %}
      <div id="empty_title" class="invalid-feedback d-none" style="display:block">
        Title cannot be empty
      </div>
      </div>
    {% endwith %}
    {% with field=form.description %}
      <div class="form-group">
        {% include 'snippet_form_field.html' %}
      </div>
    {% endwith %}

    <input type="hidden" name="created_by"
      value="{{ form.created_by.initial.pk }}" id="created_by">
    <input type="hidden" name="model"
      value="{{ form.model.initial }}" id="model">
    <input type="hidden" name="model_pk"
      value="{{ form.model_pk.initial }}" id="model_pk">

    {% for error in field.created_by.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% for error in field.model.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% for error in field.model_pk.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}

    {% with field=form.image %}
{% load widget_tweaks %}
    {% if form.is_bound %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="form-control is-invalid">
          <div class="invalid-feedback" style="display:block">
            {{ error }}
          </div>
          </div>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text }}
      </small>
    {% endif %}
    {% endwith %}
    <div class="form-group d-none" id="div_for_image">
      <label for="id_image">Uploaded image url</label>
      <input type="text" name="image" maxlength="50"
             class="form-control" required="" id="id_image">
    </div>

  </form>


  <div class="alert alert-primary" id="status_div">

    <div class="row">
      <div class="col col-lg-6">
        <!-- activate file_input select -->
        <input id="file_select" class="btn btn-primary"
             type="button" value="Please select a file">

        <!-- photo uploaded to s3, save object to the database, for testing -->
        <input id="save_button" class="btn btn-success d-none"
             type="button" value="Save">

        <!-- all has failed, reload page -->
        <input id="try_again" class="btn btn-danger d-none"
             type="button" value="Please try again">

      </div>
      <div class="col col-lg-6">
        <span id="status"></span>
      </div>
    </div>
  </div>

  <span id="file_input_text"></span><br>

  <input class="form-control d-none" type="file" id="file_input">

  <img id="preview" src="">

  <canvas id="canvas"></canvas>

  <script>
    (function() {

      /**
        * form#photo_add_form
        * event handler: submit
        * creates the image file and submits form data
        */
      $("#photo_add_form").on("submit", function(e) {
        e.preventDefault();
        var fields = $(this).serializeArray();
        var data = new FormData();
        $.each(fields, function(idx, field) {
          data.append(field.name, field.value);
        });

        var path = $("#id_image").val();
        var parts = path.split("/");

        // send an almost arbitary file to get past the form and to field storage
        var canvas = document.getElementById("canvas");
        canvas.toBlob(function(blob) {

          data.set("image", blob, parts[parts.length-1]);

          var xhr = new XMLHttpRequest();
          xhr.open("POST", window.location);
          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                window.location = xhr.responseURL;
                $("#save_button").addClass("d-none");
                updateStatus("Model successfully created", "success");
              }
              else{
                updateStatus("Could not save model", "danger");
              }
           }
          };
          xhr.send(data);
        }, "image/jpeg");
      });

      /**
        * input#save_button
        * event handler: click
        * calls submit on form#photo_add_form
        */
      $("#save_button").click(function (e) {
        $("#photo_add_form").submit();
      });

      /**
        * input#try_again
        * event handler: click
        * all has failed, ask user to reload page
        */
      $("#try_again").click(function (e) {
        window.location.reload();
      });

      /**
        * input#file_select
        * event handler: click
        * check for title and activate file select input
        */
      $("#file_select").click(function (e) {
        if ($("#id_title").val() == "") {
          $("#id_title").addClass("is-invalid");
          $("#empty_title").removeClass("d-none");
        } else {
          $('#file_input').click();
          $("#empty_title").addClass("d-none");
          $("#id_title").removeClass("is-invalid");
        }
      });

      /**
        * input#file_input
        * event handler: change
        * read the selected file, check for pixel size, get signed url
        */
      $("#file_input").on('change', function() {
        var file = this.files[0];
        var parts = $(this).val().split("/");
        if (parts.length == 1) {
          parts = $(this).val().split("\\");
        }
        $("#file_input_text").html(parts[parts.length-1]);

        if(!file){
          return updateStatus('No file selected');
        }

        var fsize = file.size;
        var size = Math.round((fsize / 1024)) + ' kb';

        var reader = new FileReader();
        reader.onloadstart = function() {
          updateStatus('Reader loading');
        };
        reader.onload = function() {
          var preview = $("#preview");
          preview.attr("src", reader.result);
          var width = preview.width();
          var height = preview.height();
          if(parseInt(width) > 768 || parseInt(height) > 576) {
            updateStatus(
                "Image too large, we are looking for pixel size 768x576 or less.",
                "danger");
            preview.attr("src", "");
          } else {
            updateStatus("Reader loaded");
            // console.log(Math.round((fsize / 1024)) + " KB");
            $("#file_select").addClass("d-none");
            getSignedRequest(file);
          };
        };

        reader.readAsDataURL(file);

      });
    })();

    /**
      * simple method to update status span
      */
    function updateStatus(text, typ){
      $("#status").html(text);
      var statdiv = $("#status_div");
      statdiv.removeClass("alert-primary");
      if (typ == "danger") {
        statdiv.addClass("alert-danger");
      } else if (typ == "primary") {
        statdiv.addClass("alert-primary");
      } else if (typ == "success") {
        statdiv.addClass("alert-success");
      } else {
        statdiv.addClass("alert-primary");
      }
    };

    /**
      * ajax call to server for signed request for s3 upload
      */
    function getSignedRequest(file){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/caretaking/sign_s3?filename="+file.name+"&filetype="+file.type);
      xhr.onreadystatechange = function(){
        if(xhr.readyState === 4) {
          if(xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            console.log(response.url);
            console.log(response.data);
            if (document.location.hostname.indexOf("heroku") != -1) {
              $("#id_image").val(response.url);
              uploadFile(file, response.data, response.url);
            } else {
              fakeUploadFile(file, response.data, response.url);
            }
          }
          else{
            updateStatus("Could not get signed URL", "danger");
          };
        };
      };
      xhr.send();
    };

    /**
      * method to upload file to s3 storage
      */
    function uploadFile(file, s3Data, url){
      var xhr = new XMLHttpRequest();
      xhr.open("POST", s3Data.url);

      var postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            $("#photo_add_form").submit();
          }
          else{
            updateStatus("Could not upload file", "danger");
          }
       }
      };
      xhr.send(postData);
    }

    /**
      * method used in development testing
      */
    function fakeUploadFile(file, s3Data, url){
      $("#div_for_image").removeClass("d-none");
      $("#file_input_text").addClass("d-none");
      $("#id_image").val(url);
      updateStatus("File uploaded successfully, saving photo", "success");
      $("#save_button").removeClass("d-none");
    };
  </script>

{% endblock %}


