{% extends "base.html" %}

{% block title %}Photo Confirm Delete {{ object }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'photo-list' %}">photos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ object.get_absolute_url }}">
          {{ object.name}}
          </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          delete
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Delete {{ object.name }}</h2>

    <p>
    Are you sure you wish to permanently delete the photo <strong>{{ object.name }}?
    </p>
    <form action="" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block"
                value="confirm">
                <i class="fa fa-trash-alt"></i>
                Delete photo
                </button>
</form>
{% endblock %}

