{% extends "base.html" %}

{% block title %}Photo List{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          photos
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2 id="edit-photo-header">{% block list_title %}Photos{% endblock %}</h2>

    <table class="photo-list table table-sm">
        {% for photo in object_list %}
        <tr id="photo_{{ photo.pk }}" data-delete-url="{% url 'photo-delete' photo.pk %}">
          {% if request.user.is_staff %}
            <td nowrap>
              <a data-toggle="modal" data-target="#photo-delete-modal"
                  class="action small mt-2">
              <i class="fa fa-trash-alt"></i>
              <i class="sr-only">Delete photo</i>
              </a>
              <a href="{% url 'photo-edit' photo.pk %}" class="action small">
              <i class="fa fa-pencil-alt"></i>
              <span class="sr-only">Edit photo<span>
              </a>
            </td>
          {% endif %}
          <td>
            <a class="photo-name" 
               data-pk="{{ photo.pk }}"
               href="{% url 'photo-detail' photo.pk %}">
              {{ photo.title }}
            </a>
          </td>
          <td>
            <span class="small text-muted">
              {{ photo.description }}
            </span>
          </td>
        </tr>
      {% endfor %}
    </table>

    <!-- begin photo delete confirm modal code -->
    <div class="modal fade" id="photo-delete-modal" tabindex="-1"
        role="dialog" aria-labelledby="photo-delete-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="photo-delete-modal-label">Delete photo</h5>
            {% csrf_token %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Permanently delete this photo?:<br>
                <strong class="modal-description">description</strong>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary delete-button"
                onclick="deleteProject();">
                <i class="fa fa-trash-alt"></i>
                Delete photo
                </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal code -->

{% endblock %}

{% block extra_js %}
<script>
$(function(){

    /* start delete projct modal algorithm */
    $("#photo-delete-modal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget),
          modal = $(this),
          a_el = button.parent().parent().find("a.photo-name"),
          name = a_el.html(),
          pk = a_el.data("pk");
      modal.find(".modal-description").text(name);
      modal.find(".modal-footer").find(".delete-button").data("pk", pk);
    });
    /* end delete photo modal algorithm */

    /* set notify defaults */
    $.notify.defaults({
        className: "success",
        position: "right",
        autoHide: "true",
        autoHideDelay: "2000"
    });
});

/* start delete Photo method */
var deleteProject = function() {
    var pk = $("#photo-delete-modal").find(".modal-footer").find(".delete-button").data("pk"),
        url = $("tr#photo_" + pk).data("delete-url"),
        data = {"pk": pk};
        data["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val();
    console.log('data ' + data);
    console.log('url ' + url);
    $.ajax({
        url: url,
        data: data,
        type: 'post',
        success: function(data) {
          console.log(data);
          console.log($("li#photo_" + data["pk"]));
          $("tr#photo_" + data["pk"]).remove();
          $("#photo-delete-modal").modal("hide");
          $("#edit-photo-header").notify("Photo deleted", {position: "top center"});
        },
        error: function(e) {
          console.log(e);
        }
    });
};
</script>
{% endblock extra_js %}

