{% extends "base.html" %}

{% block title %}Photo Add{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      {% block action_type %}
        <li class="breadcrumb-item active" aria-current="page">
            add
        </li>
      {% endblock %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<h2>{% block list_title %}Add Photo to {{ object }}{% endblock %}</h2>

  <form action="" enctype="multipart/form-data" method="post"
    novalidate id="photo-add-form">
    {% include 'snippet_form_start.html' %}
    {% with field=form.title %}
      <div class="form-group">
        {% include 'snippet_form_field.html' %}
      <div id="empty_title" class="invalid-feedback d-none" style="display:block">
        Title cannot be empty
      </div>
      </div>
    {% endwith %}
    {% with field=form.description %}
      <div class="form-group">
        {% include 'snippet_form_field.html' %}
      </div>
    {% endwith %}

    <input type="hidden" name="created_by"
      value="{{ form.created_by.initial.pk }}" id="created_by">
    <input type="hidden" name="model"
      value="{{ form.model.initial }}" id="model">
    <input type="hidden" name="model_pk"
      value="{{ form.model_pk.initial }}" id="model_pk">

    {% for error in field.created_by.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% for error in field.model.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% for error in field.model_pk.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}

    <div class="alert alert-primary" id="status_div">

      <div class="row">
        <div class="col col-lg-6">
          <!-- activate file_input select -->
          <input id="file_select" class="btn btn-primary"
               type="button" value="Please select a file">

          <!-- photo uploaded to s3, save object to the database, for testing -->
          <input id="submit_form" class="btn btn-success d-none"
               type="button" value="Save">

          <!-- all has failed, reload page -->
          <input id="try_again" class="btn btn-danger d-none"
               type="button" value="Please try again">

        </div>
        <div class="col col-lg-6">
          <span id="status"></span>
        </div>
      </div>
    </div>

    <div class="form-group d-none" id="div_for_image_url">
      <label for="id_image_url">Uploaded image url</label>
      <input type="text" name="image_url" maxlength="50" disabled
             class="form-control" required="" id="id_image_url">
    </div>

  </form>

  <span id="file_input_text"></span><br>

  <input class="form-control d-none" type="file" id="file_input">

  <img id="preview" src="">

  <script>
    (function() {

      // all has failed, reload page  
      $('#try_again').click(function (e) {
        window.location.reload();
      });

      // use button to activate file selector input  
      $('#file_select').click(function (e) {
        console.log($("#id_title").val());
        if ($("#id_title").val() == "") {
          $("#id_title").addClass("is-invalid");
          $("#empty_title").removeClass("d-none");
        } else {
          $('#file_input').click();
          $("#empty_title").addClass("d-none");
          $("#id_title").removeClass("is-invalid");
        }
      });

      $("#file_input").on('change', function() {
        var file = this.files[0];
        var parts = $(this).val().split("/");
        if (parts.length == 1) {
          parts = $(this).val().split("\\");
        }
        console.log(parts);
        $("#file_input_text").html(parts[parts.length-1]);

        if(!file){
          return updateStatus('No file selected');
        }

        var fsize = file.size;
        var size = Math.round((fsize / 1024)) + ' kb';

        // insert preview and get size, width and heigth
        var reader = new FileReader();
        reader.onloadstart = function() {
          updateStatus('Reader loading');
        };
        reader.onload = function() {
          var preview = $("#preview");
          preview.attr('src', reader.result);
          var width = preview.width();
          var height = preview.height();
          console.log("WTF", width, height);
          // check size and abort operation
          if(parseInt(width) > 768 || parseInt(height) > 576) {
            updateStatus(
                'Image too large, we are looking for pixel size 768x576 or less.',
                'danger');
            preview.attr('src', '/static/default.png');
          } else {
            updateStatus('Reader loaded');
            //console.log(Math.round((fsize / 1024)) + ' KB');
            $("#file_select").addClass("d-none");
            getSignedRequest(file);
          };
        };

        reader.readAsDataURL(file);

      });
    })();

    function updateStatus(text, typ){
      $("#status").html(text);
      var statdiv = $("#status_div");
      statdiv.removeClass("alert-primary");
      if (typ == "danger") {
        statdiv.addClass("alert-danger");
      } else if (typ == "primary") {
        statdiv.addClass("alert-primary");
      } else if (typ == "success") {
        statdiv.addClass("alert-success");
        console.log('got success');
      } else {
        statdiv.addClass("alert-primary");
      }
    };

    function getSignedRequest(file){
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/sign_s3?filename="+file.name+"&filetype="+file.type);
      xhr.onreadystatechange = function(){
        console.log(xhr.readyState);
        if(xhr.readyState === 4) {
          if(xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            console.log(response.url);
            console.log(response.data);
            if (document.location.pathname.indexOf("heroku") != -1) {
              uploadFile(file, response.data, response.url);
            } else {
              fakeUploadFile(file, response.data, response.url);
            }
          }
          else{
            updateStatus("Could not get signed URL", "danger");
          };
        };
      };
      xhr.send();
    };

    function fakeUploadFile(file, s3Data, url){
      $("#div_for_image_url").removeClass("d-none");
      $("#file_input_text").addClass("d-none");
      $("#id_image_url").val(url);
      updateStatus("File uploaded successfully", "success");
      $("#submit_form").removeClass("d-none");
    };

    function uploadFile(file, s3Data, url){
      var xhr = new XMLHttpRequest();
      xhr.open("POST", s3Data.url);

      var postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            $("#preview").attr("src", url);
            $("#id_image_url").removeClass("d-none");
            $("#file_input_text").addClass("d-none");
            $("#id_image_url").val(url);
            $("#submit_form").removeClass("d-none");
            updateStatus("File uploaded successfully", "success");
          }
          else{
            updateStatus("Could not upload file", "danger");
          }
       }
      };
      xhr.send(postData);
    }
  </script>

{% endblock %}


