{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          caretaking
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Staff</h2>
    <ul class="staff-list list-unstyled">
        {% for staff in object_list %}
            <li>
                <a href="{% url 'staff-detail' staff.user.username %}">{{ staff }}</a> 
            </li>
        {% endfor %}
    </ul>

    <h2>Projects</h2>
    <p><a href="{% url 'project-list' %}">Projects</a></p>

{% endblock %}

