{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'caretaking' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'staff' staff.user.username %}">
              {{ staff.user.username }}</a> 
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          tasks
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>{% block list_title %}Staff{% endblock %}</h2>
    <ul class="stafflist list-unstyled">
        {% for task in object_list %}
            <li>
                <a href="#">{{ task }}</a> 
            </li>
        {% endfor %}
    </ul>

{% endblock %}

