{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'caretaking' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'staff-detail' staff.user.username %}">
              {{ staff.user.username }}</a> 
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          tasks
      </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <h2>Tasks: {{ staff }}</h2>

    <div class="alert alert-info" role="alert">
        <p>
        Use the form below to change
        the date range.
        </p>

        {% include 'snippet_form.html' %}

    </div>

    {% include 'snippet_pagination.html' %}

    <table class="table">
        <tr>
            <th>Date</th><th>Description</th>
            <th>Locations</th>
        {% for task in object_list %}
            <tr>
                <td class="task-date">{{ task.completed|date:"j N Y" }}</td>
                <td class="task-description">{{ task.description }}</td>
                <td class="task-locations">
                    <ul class="list-unstyled">
                    {% for loc in task.locations %}
                    <li>{{ loc}}</li>
                    {% endfor %} 
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tr>
    </table>

    {% include 'snippet_pagination.html' %}

    {% block extra_js %}
    {% if search_count %}
    <script>
        $(document).ready(function() {
            var search_term = "{{ search_term }}";
            $('td.task-description').each(function() {
                t = $(this).text();
                if (t.indexOf(search_term) > -1) {
                    res = t.replace(search_term, 
                            '<strong class="bg-warning">' + search_term + '</strong>');
                    $(this).html(res);
                }
            });
        });
    </script>
    {% endif %}
    {% endblock extra_js %}

{% endblock %}

