{% extends "task_add_form.html" %}

{% block title %}Task Edit ({{ staff.user.username }}){% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-list' %}">caretaking</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'staff-detail' staff.user.username %}">{{ staff.user.username }}</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'task-list' staff.user.username %}">tasks</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          edit
      </li>
  </ol>
</nav>
{% endblock %}

{% block list_title %}Edit Task{% endblock %}

{% block extra_button %}
    <a role="button" class="btn btn-secondary"
       href="{{ object.get_absolute_url }}edit">
        <i class="fa fa-reply"></i> Cancel
    </a>
{% endblock %}
